@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

@font-face {
  font-family: 'mario';
  src: url('SuperPlumberBrothers-y00V.woff') format('woff'), 
   url('SuperPlumberBrothers-y00V.ttf') format('truetype'); 
} 
@font-face{
  font-family: "future_font";
  src:url("SF Atarian System Bold.ttf");
}

body{
	margin: 0;
	padding: 0; 
}


#pi{
  height: 100%; 
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



#myVideo {
  opacity: 0.9999;
  object-fit: fill;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.banner-area h2{
	
	position: absolute;
	top: 7%;
	left: 34%;
	//transform: translate (—50%, —50%);
	//width: 100%;
	text—align: center;
	margin: 0;
	padding: 0;
	font-family:'future_font';
	color: #e83600;
	font-size: 6em;
  text-transform: uppercase;

}
#rectangle{
	position: absolute;
	top: 10.5%;
	left: 35%;
    width:500px;
    height:200px;
    background:#c74b0b;
}


/*/////////////////////////buttttttttttttttttttton/////////////////////////////////////////////////////////////////////////*/

a{
  font-family: consolas;
  position: fixed;
  top:55%;
  left:43%;
  display: inline-block;
    padding:25px 30px;
    margin:40px,0;
    color:#03e9f4;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;

    /*for reflection*/-webkit-box-reflect:below 1px linear-gradient(transparent,#0005);

    /*for neon*/filter:hue-rotate(290deg);
}

a:hover{
  background:#03e9f4;
  color:#050801;
  box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}

a span
{
  position: absolute;
  display: block;
}


/*---top animation---*/
a span:nth-child(1)
{
  top:0;
  left:-100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#03e9f4);
  animation: animate1 1s linear infinite;

}

@keyframes animate1{

   0%
   {
    left:-100%;
   }
   50%,100%
   {
    left:100%;
   }

}

/*---right animation---*/
a span:nth-child(2)
{
  top:-100%;
  right:0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay:0.25s;

}

@keyframes animate2{

   0%
   {
    top:-100%;
   }
   50%,100%
   {
    top:100%;
   }

}

/*----bottom animation------*/
a span:nth-child(3)
{
  bottom:0;
  right:-100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay:0.5s;

}

@keyframes animate3{

   0%
   {
    right:-100%;
   }
   50%,100%
   {
    right:100%;
   }

}

a span:nth-child(4)
{
  bottom:-100%;
  left:0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay:0.75s;

}

@keyframes animate4{

   0%
   {
    bottom:-100%;
   }
   50%,100%
   {
    bottom:100%;
   }

}